<!-- Homepage Banner Section . start -->
  <div class="card-content page-banner">
    <div class="row  d-flex flex-row collage">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when '@app' %}
            {% render block %}
            ...
          {% endcase %}
        {% endfor %}       
    </div>
  </div>
<!-- Homepage Banner Section . end -->
<!-- Homepage Banner Schema . start -->
  {% schema %}
    {
      "name": "Homepage Banner",
      "tag": "section",
      "class": "homepage-banner banner",
      "limit": 1,
      "settings": [],
      "max_blocks": 2,
      "blocks": [
        {
          "type": "@app"
        }
      ],
      "presets": [
        {
          "name": "Banner",
          "category": "BANNERS"
        }
      ]
    }
  {% endschema %}
<!-- Homepage Banner Schema . end -->
<!-- Homepage Banner Styling . start -->
  {% stylesheet %}
  {% endstylesheet %}
<!-- Homepage Banner Styling . end -->
<!-- Homepage Banner Scripts . start -->
  {% javascript %}
  {% endjavascript %}
<!-- Homepage Banner Scripts . end -->