{%- assign blog = blogs[section.settings.blog] -%}

{%- if blog.articles_count > 0 -%}

	<div id="section-blog" class="container container-fixed-lg sm-gutter no-padding">
		<div class="d-flex flex-row align-items-stretch">
		</div>
	</div>

{%- endif -%}