<div class="col col-lg-4 bg-warning no-border">
  <div class="card card-transparent m-b-0">
    <div class="card-header separator">
      <div class="card-title">
        <h2 class="fs-18">Sustainability<br> Innovation<br> Beauty</h2> 
      </div>
    </div>
    <div class="card-body">
      <p>The marriage of sustainability and cutting-edge building technology has shaped the foundation of Diasen’s philosophy.</p>
      <p>Founded in Sassoferrato, Italy in 1985, Diasen is a leader in green building technology, offering lime and local cork based products including insulating solutions, acoustic and thermal insulation, waterproofing and decorative coatings.</p>
      <p>Diasen’s products have been used in projects from the restoration and preservation of significant historical buildings to modern homes and public spaces showcasing innovative and sustainable design.</p>
    </div>
    <div class="card-footer">
      <a href="#" class="text-black hint-text text-sm">Learn more ></a>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Welcome Content",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}